<html ng-app="uiRouterSample">
  <head>
  <link rel="stylesheet" href="concat/bootstrap.min.css">
  <link rel="stylesheet" href="concat/styles.css">
<script src='concat/vendor.js'></script>
<script src='concat/scripts.js'></script>
  </head>
  <body>
  <div class="dvCustId"><asp:HiddenField ID="CustId" runat="server" />1</div>
  <div ng-controller="TodoCtrl">

    <div ng-controller='filters'>
      <div id="tableFilters">
        <div class="filters"></div>
        <div class="noncontract" id="noncontract" ng-click="filterClick('Non Contract', $event)"></div>
        <div class="source" id="source" ng-click="filterClick('Source', $event)"></div>
        <div class="fromPBA" id="fromPBA" ng-click="filterClick('From PBA', $event)"></div>
        <div class="endorsed" id="endorsed" ng-click="filterClick('Primary Wholesaler', $event)"></div>
      </div>
    </div>
    <!-- <br> -->


<div ng-controller='printCtrl2' >
  <span id="printButtons">
  <button id="printAll" ng-click="printAll()"
    class="btn btn-info btn-sm">Print All</button>
  <button id="printSelected" ng-click="printSelected()"
    class="btn btn-info btn-sm">Print Selected ( {{selected}} )</button>
  </span>


  <p id="tablePage">Show
  <select ng-model="myPagination" ng-options="color.name for color in pagination"
    ng-change="selectChanged(myPagination)" > </select>
    Entries
  </p>

  <table at-table at-list="myPurchases" at-paginated at-config="tableConfig"
  class="table table-striped table-condensed table-hover table-bordered" id="queryTable">
    <thead></thead>
    <tbody>
      <tr class="mainRows" ng-click="addPrint(this.item.RowID, $event)" id="{{this.item.RowID}}">
      <td><input type="checkbox" id="checkbox{{this.item.RowID}}"> Print</td>
        <td at-implicit at-attribute="NDC2" at-title="Type" >Purchased</td>
        <td at-implicit at-attribute="NDC" class="fixedWidthTD"></td>
        <td at-implicit at-attribute="Descr" at-title="Description"></td>
        <td at-implicit at-attribute="MfgName" at-title="Manufacturer"></td>
        <td at-implicit at-attribute="Form" ></td>
        <td at-implicit at-attribute="Str" ></td>
        <td at-implicit at-attribute="Size" ></td>
        <td at-implicit at-attribute="Qty" ></td>
        <td at-implicit at-attribute="SalesPrice" >$</td>
        <td at-implicit at-attribute="Total" >$</td>
        <td at-implicit at-attribute="TotalSavings" at-initial-sorting="desc" class="bold">$</td>
        <td at-implicit at-attribute="RecoType_small" at-title="Supplier"></td>
        <td at-implicit at-attribute="RecoTyped" at-title="Total Savings"></td>
      </tr>
    </tbody>
  </table>
  <strong>Results:</strong> {{myPurchases.length}}
  <at-pagination at-list="myPurchases" at-config="tableConfig"></at-pagination>

    </div>

    <h4>Hidden recommendations will be removed on your next visit, for 1 month<h4>
  </body>
</html>
